In [227]:
import numpy as np
import pandas as pd
import warnings
import copy
import random
import time
from scipy.special import logsumexp
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import StratifiedShuffleSplit
warnings.filterwarnings("ignore")

# Read in Dataset

In [49]:
df = pd.read_csv("./codon_usage.csv")

In [50]:
df.head()

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0,100217,1995,Epizootic haematopoietic necrosis virus,0.01654,0.01203,0.00050,0.00351,0.01203,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,vrl,0,100220,1474,Bohle iridovirus,0.02714,0.01357,0.00068,0.00678,0.00407,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,vrl,0,100755,4862,Sweet potato leaf curl virus,0.01974,0.0218,0.01357,0.01543,0.00782,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,vrl,0,100880,1915,Northern cereal mosaic virus,0.01775,0.02245,0.01619,0.00992,0.01567,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,vrl,0,100887,22831,Soil-borne cereal mosaic virus,0.02816,0.01371,0.00767,0.03679,0.01380,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13028 entries, 0 to 13027
Data columns (total 69 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Kingdom      13028 non-null  object
 1   DNAtype      13028 non-null  int64
 2   SpeciesID    13028 non-null  int64
 3   Ncodons      13028 non-null  int64
 4   SpeciesName  13028 non-null  object
 5   UUU          13028 non-null  object
 6   UUC          13028 non-null  object
 7   UUA          13028 non-null  float64
 8   UUG          13028 non-null  float64
 9   CUU          13028 non-null  float64
 10  CUC          13028 non-null  float64
 11  CUA          13028 non-null  float64
 12  CUG          13028 non-null  float64
 13  AUU          13028 non-null  float64
 14  AUC          13028 non-null  float64
 15  AUA          13028 non-null  float64
 16  AUG          13028 non-null  float64
 17  GUU          13028 non-null  float64
 18  GUC          13028 non-null  float64
 19  GUA          13028 non-null  float64
 20  GUG          13028 non-null  float64
 21  GCU          13028 non-null  float64
 22  GCC          13028 non-null  float64
 23  GCA          13028 non-null  float64
 24  GCG          13028 non-null  float64
 25  CCU          13028 non-null  float64
 26  CCC          13028 non-null  float64
 27  CCA          13028 non-null  float64
 28  CCG          13028 non-null  float64
 29  UGG          13028 non-null  float64
 30  GGU          13028 non-null  float64
 31  GGC          13028 non-null  float64
 32  GGA          13028 non-null  float64
 33  GGG          13028 non-null  float64
 34  UCU          13028 non-null  float64
 35  UCC          13028 non-null  float64
 36  UCA          13028 non-null  float64
 37  UCG          13028 non-null  float64
 38  AGU          13028 non-null  float64
 39  AGC          13028 non-null  float64
 40  ACU          13028 non-null  float64
 41  ACC          13028 non-null  float64
 42  ACA          13028 non-null  float64
 43  ACG          13028 non-null  float64
 44  UAU          13028 non-null  float64
 45  UAC          13028 non-null  float64
 46  CAA          13028 non-null  float64
 47  CAG          13028 non-null  float64
 48  AAU          13028 non-null  float64
 49  AAC          13028 non-null  float64
 50  UGU          13028 non-null  float64
 51  UGC          13028 non-null  float64
 52  CAU          13028 non-null  float64
 53  CAC          13028 non-null  float64
 54  AAA          13028 non-null  float64
 55  AAG          13028 non-null  float64
 56  CGU          13028 non-null  float64
 57  CGC          13028 non-null  float64
 58  CGA          13028 non-null  float64
 59  CGG          13028 non-null  float64
 60  AGA          13028 non-null  float64
 61  AGG          13028 non-null  float64
 62  GAU          13028 non-null  float64
 63  GAC          13028 non-null  float64
 64  GAA          13028 non-null  float64
 65  GAG          13028 non-null  float64
 66  UAA          13028 non-null  float64
 67  UAG          13028 non-null  float64
 68  UGA          13028 non-null  float64
dtypes: float64(62), int64(3), object(4)
memory usage: 6.9+ MB

# Preprocessing

### Drop Faulty Points

In [52]:
# lines 488 and 5065 are index 486 and 5063
df = df.drop([486, 5063], axis = 0)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13027
Data columns (total 69 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Kingdom      13026 non-null  object
 1   DNAtype      13026 non-null  int64
 2   SpeciesID    13026 non-null  int64
 3   Ncodons      13026 non-null  int64
 4   SpeciesName  13026 non-null  object
 5   UUU          13026 non-null  object
 6   UUC          13026 non-null  object
 7   UUA          13026 non-null  float64
 8   UUG          13026 non-null  float64
 9   CUU          13026 non-null  float64
 10  CUC          13026 non-null  float64
 11  CUA          13026 non-null  float64
 12  CUG          13026 non-null  float64
 13  AUU          13026 non-null  float64
 14  AUC          13026 non-null  float64
 15  AUA          13026 non-null  float64
 16  AUG          13026 non-null  float64
 17  GUU          13026 non-null  float64
 18  GUC          13026 non-null  float64
 19  GUA          13026 non-null  float64
 20  GUG          13026 non-null  float64
 21  GCU          13026 non-null  float64
 22  GCC          13026 non-null  float64
 23  GCA          13026 non-null  float64
 24  GCG          13026 non-null  float64
 25  CCU          13026 non-null  float64
 26  CCC          13026 non-null  float64
 27  CCA          13026 non-null  float64
 28  CCG          13026 non-null  float64
 29  UGG          13026 non-null  float64
 30  GGU          13026 non-null  float64
 31  GGC          13026 non-null  float64
 32  GGA          13026 non-null  float64
 33  GGG          13026 non-null  float64
 34  UCU          13026 non-null  float64
 35  UCC          13026 non-null  float64
 36  UCA          13026 non-null  float64
 37  UCG          13026 non-null  float64
 38  AGU          13026 non-null  float64
 39  AGC          13026 non-null  float64
 40  ACU          13026 non-null  float64
 41  ACC          13026 non-null  float64
 42  ACA          13026 non-null  float64
 43  ACG          13026 non-null  float64
 44  UAU          13026 non-null  float64
 45  UAC          13026 non-null  float64
 46  CAA          13026 non-null  float64
 47  CAG          13026 non-null  float64
 48  AAU          13026 non-null  float64
 49  AAC          13026 non-null  float64
 50  UGU          13026 non-null  float64
 51  UGC          13026 non-null  float64
 52  CAU          13026 non-null  float64
 53  CAC          13026 non-null  float64
 54  AAA          13026 non-null  float64
 55  AAG          13026 non-null  float64
 56  CGU          13026 non-null  float64
 57  CGC          13026 non-null  float64
 58  CGA          13026 non-null  float64
 59  CGG          13026 non-null  float64
 60  AGA          13026 non-null  float64
 61  AGG          13026 non-null  float64
 62  GAU          13026 non-null  float64
 63  GAC          13026 non-null  float64
 64  GAA          13026 non-null  float64
 65  GAG          13026 non-null  float64
 66  UAA          13026 non-null  float64
 67  UAG          13026 non-null  float64
 68  UGA          13026 non-null  float64
dtypes: float64(62), int64(3), object(4)
memory usage: 7.0+ MB

### Drop columns 2-5 (starting at 1)

In [54]:
# drop unused features
vals = [1, 2, 3, 4]
df = df.drop(df.columns[vals], axis = 1)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13027
Data columns (total 65 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Kingdom  13026 non-null  object
 1   UUU      13026 non-null  object
 2   UUC      13026 non-null  object
 3   UUA      13026 non-null  float64
 4   UUG      13026 non-null  float64
 5   CUU      13026 non-null  float64
 6   CUC      13026 non-null  float64
 7   CUA      13026 non-null  float64
 8   CUG      13026 non-null  float64
 9   AUU      13026 non-null  float64
 10  AUC      13026 non-null  float64
 11  AUA      13026 non-null  float64
 12  AUG      13026 non-null  float64
 13  GUU      13026 non-null  float64
 14  GUC      13026 non-null  float64
 15  GUA      13026 non-null  float64
 16  GUG      13026 non-null  float64
 17  GCU      13026 non-null  float64
 18  GCC      13026 non-null  float64
 19  GCA      13026 non-null  float64
 20  GCG      13026 non-null  float64
 21  CCU      13026 non-null  float64
 22  CCC      13026 non-null  float64
 23  CCA      13026 non-null  float64
 24  CCG      13026 non-null  float64
 25  UGG      13026 non-null  float64
 26  GGU      13026 non-null  float64
 27  GGC      13026 non-null  float64
 28  GGA      13026 non-null  float64
 29  GGG      13026 non-null  float64
 30  UCU      13026 non-null  float64
 31  UCC      13026 non-null  float64
 32  UCA      13026 non-null  float64
 33  UCG      13026 non-null  float64
 34  AGU      13026 non-null  float64
 35  AGC      13026 non-null  float64
 36  ACU      13026 non-null  float64
 37  ACC      13026 non-null  float64
 38  ACA      13026 non-null  float64
 39  ACG      13026 non-null  float64
 40  UAU      13026 non-null  float64
 41  UAC      13026 non-null  float64
 42  CAA      13026 non-null  float64
 43  CAG      13026 non-null  float64
 44  AAU      13026 non-null  float64
 45  AAC      13026 non-null  float64
 46  UGU      13026 non-null  float64
 47  UGC      13026 non-null  float64
 48  CAU      13026 non-null  float64
 49  CAC      13026 non-null  float64
 50  AAA      13026 non-null  float64
 51  AAG      13026 non-null  float64
 52  CGU      13026 non-null  float64
 53  CGC      13026 non-null  float64
 54  CGA      13026 non-null  float64
 55  CGG      13026 non-null  float64
 56  AGA      13026 non-null  float64
 57  AGG      13026 non-null  float64
 58  GAU      13026 non-null  float64
 59  GAC      13026 non-null  float64
 60  GAA      13026 non-null  float64
 61  GAG      13026 non-null  float64
 62  UAA      13026 non-null  float64
 63  UAG      13026 non-null  float64
 64  UGA      13026 non-null  float64
dtypes: float64(62), object(3)
memory usage: 6.6+ MB

In [56]:
df.head()

,Kingdom,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0.01654,0.01203,0.00050,0.00351,0.01203,0.03208,0.00100,0.04010,0.00551,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,vrl,0.02714,0.01357,0.00068,0.00678,0.00407,0.02849,0.00204,0.04410,0.01153,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,vrl,0.01974,0.0218,0.01357,0.01543,0.00782,0.01111,0.01028,0.01193,0.02283,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,vrl,0.01775,0.02245,0.01619,0.00992,0.01567,0.01358,0.00940,0.01723,0.02402,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,vrl,0.02816,0.01371,0.00767,0.03679,0.01380,0.00548,0.00473,0.02076,0.02716,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131

### Cast two object columns to the correct type

In [57]:
df['UUU'] = df['UUU'].astype(float)

In [58]:
df['UUC'] = df['UUC'].astype(float)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13027
Data columns (total 65 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Kingdom  13026 non-null  object
 1   UUU      13026 non-null  float64
 2   UUC      13026 non-null  float64
 3   UUA      13026 non-null  float64
 4   UUG      13026 non-null  float64
 5   CUU      13026 non-null  float64
 6   CUC      13026 non-null  float64
 7   CUA      13026 non-null  float64
 8   CUG      13026 non-null  float64
 9   AUU      13026 non-null  float64
 10  AUC      13026 non-null  float64
 11  AUA      13026 non-null  float64
 12  AUG      13026 non-null  float64
 13  GUU      13026 non-null  float64
 14  GUC      13026 non-null  float64
 15  GUA      13026 non-null  float64
 16  GUG      13026 non-null  float64
 17  GCU      13026 non-null  float64
 18  GCC      13026 non-null  float64
 19  GCA      13026 non-null  float64
 20  GCG      13026 non-null  float64
 21  CCU      13026 non-null  float64
 22  CCC      13026 non-null  float64
 23  CCA      13026 non-null  float64
 24  CCG      13026 non-null  float64
 25  UGG      13026 non-null  float64
 26  GGU      13026 non-null  float64
 27  GGC      13026 non-null  float64
 28  GGA      13026 non-null  float64
 29  GGG      13026 non-null  float64
 30  UCU      13026 non-null  float64
 31  UCC      13026 non-null  float64
 32  UCA      13026 non-null  float64
 33  UCG      13026 non-null  float64
 34  AGU      13026 non-null  float64
 35  AGC      13026 non-null  float64
 36  ACU      13026 non-null  float64
 37  ACC      13026 non-null  float64
 38  ACA      13026 non-null  float64
 39  ACG      13026 non-null  float64
 40  UAU      13026 non-null  float64
 41  UAC      13026 non-null  float64
 42  CAA      13026 non-null  float64
 43  CAG      13026 non-null  float64
 44  AAU      13026 non-null  float64
 45  AAC      13026 non-null  float64
 46  UGU      13026 non-null  float64
 47  UGC      13026 non-null  float64
 48  CAU      13026 non-null  float64
 49  CAC      13026 non-null  float64
 50  AAA      13026 non-null  float64
 51  AAG      13026 non-null  float64
 52  CGU      13026 non-null  float64
 53  CGC      13026 non-null  float64
 54  CGA      13026 non-null  float64
 55  CGG      13026 non-null  float64
 56  AGA      13026 non-null  float64
 57  AGG      13026 non-null  float64
 58  GAU      13026 non-null  float64
 59  GAC      13026 non-null  float64
 60  GAA      13026 non-null  float64
 61  GAG      13026 non-null  float64
 62  UAA      13026 non-null  float64
 63  UAG      13026 non-null  float64
 64  UGA      13026 non-null  float64
dtypes: float64(64), object(1)
memory usage: 6.6+ MB

In [60]:
len(df)

13026

### Split into target labels and the data points

In [61]:
y = df.iloc[:, 0]

In [62]:
# target labels
y

0        vrl
1        vrl
2        vrl
3        vrl
4        vrl
        ...
13023    pri
13024    pri
13025    pri
13026    pri
13027    pri
Name: Kingdom, Length: 13026, dtype: object

In [63]:
x = df.iloc[:, 1:]

In [64]:
# 64 dim data points
x

,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,AUC,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,0.01654,0.01203,0.00050,0.00351,0.01203,0.03208,0.00100,0.04010,0.00551,0.02005,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,0.02714,0.01357,0.00068,0.00678,0.00407,0.02849,0.00204,0.04410,0.01153,0.02510,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,0.01974,0.02180,0.01357,0.01543,0.00782,0.01111,0.01028,0.01193,0.02283,0.01604,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,0.01775,0.02245,0.01619,0.00992,0.01567,0.01358,0.00940,0.01723,0.02402,0.02245,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,0.02816,0.01371,0.00767,0.03679,0.01380,0.00548,0.00473,0.02076,0.02716,0.00867,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13023,0.02552,0.03555,0.00547,0.01367,0.01276,0.02097,0.00820,0.03555,0.01459,0.03920,...,0.00820,0.01367,0.01094,0.01367,0.02279,0.02005,0.04102,0.00091,0.00091,0.00638
13024,0.01258,0.03193,0.01984,0.00629,0.01451,0.05322,0.07644,0.01258,0.03096,0.06386,...,0.00145,0.00000,0.00048,0.00194,0.01306,0.01838,0.00677,0.00242,0.00097,0.01887
13025,0.01423,0.03321,0.01661,0.00356,0.01127,0.05042,0.09609,0.01068,0.02728,0.06643,...,0.00000,0.00000,0.00000,0.00178,0.01661,0.02788,0.00297,0.00356,0.00119,0.02017
13026,0.01757,0.02028,0.00767,0.01293,0.01319,0.01959,0.00715,0.03964,0.01600,0.02082,...,0.01142,0.01217,0.01196,0.02178,0.02510,0.02896,0.03959,0.00099,0.00079,0.00156
13027,0.01778,0.03724,0.01732,0.00600,0.01689,0.03854,0.07000,0.01308,0.03391,0.05137,...,0.00083,0.00041,0.00041,0.00451,0.01402,0.01651,0.00783,0.00156,0.00114,0.02161

### Convert to numpy object

In [65]:
x = x.to_numpy()

In [66]:
x

array([[0.01654, 0.01203, 0.0005 , ..., 0.00251, 0.0005 , 0.     ],
       [0.02714, 0.01357, 0.00068, ..., 0.00271, 0.00068, 0.     ],
       [0.01974, 0.0218 , 0.01357, ..., 0.00391, 0.     , 0.00144],
       ...,
       [0.01423, 0.03321, 0.01661, ..., 0.00356, 0.00119, 0.02017],
       [0.01757, 0.02028, 0.00767, ..., 0.00099, 0.00079, 0.00156],
       [0.01778, 0.03724, 0.01732, ..., 0.00156, 0.00114, 0.02161]])

### Scale Data points between 0-1

In [67]:
scaler = MinMaxScaler()
x = scaler.fit_transform(x)

In [68]:
x.min()

0.0

In [69]:
x.max()

1.0

**turn y into numpy object**

In [165]:
y = y.to_numpy()

In [166]:
y

array(['vrl', 'vrl', 'vrl', ..., 'pri', 'pri', 'pri'], dtype=object)

# Get True Clustering

In [167]:
true_clusters = {}
for i in range(len(y)):
    if y[i] not in true_clusters.keys():
        true_clusters[y[i]] = []
        true_clusters[y[i]].append(x[i])
    else:
        true_clusters[y[i]].append(x[i])

In [169]:
for key in true_clusters.keys():
    print(len(true_clusters[key]))

2831
126
2919
220
18
2523
1345
2077
572
215
180

# Functions to implement DENCLUE algorithm

### Function to get the NMI Score

In [271]:
def NMI(x, clusters, true_clusters):
    # get true clustering as array of arrays
    T = []
    for key in true_clusters.keys():
        T.append(np.array(true_clusters[key]))
    T = np.array(T)
    
    # get true and predicted cluster sizes
    k = len(T)
    r = len(clusters)
    
    
    # get entropy of the predicted clustering
    summ = 0
    for i in range(r):
        pci = len(clusters[i]) / len(x) + 1e-6
        val = pci * np.log(pci)
        summ += val
    # H(C)
    pred_entropy = -1 * summ
    
    
    # get entropy of the true clustering
    summ = 0
    for i in range(k):
        pti = len(T[i]) / len(x) + 1e-6
        val = pti * np.log(pti)
        summ += val
    # H(T)
    true_entropy = -1 * summ
    
    
    # get the conditional entropy
    summ = 0
    for i in range(r):
        for j in range(k):
            # get the intersecion between the two clusters
            intersect = 0
            for a in range(len(clusters[i])):
                if clusters[i][a] in T[j]:
                    intersect += 1
            
            # get p_ij and p_ci
            pij = intersect / len(x) + 1e-6
            pci = len(clusters[i]) / len(x) + 1e-6
            val = pij * np.log(pij / pci)
            summ += val
            
    # H(T|C)
    conditional_entropy = -1 * summ

    # calculate I(C, T) = H(T) - H(T|C)
    mutual_information = true_entropy - conditional_entropy
    
    # Finally calculate the NMI
    nmi = (mutual_information) / np.sqrt(pred_entropy * true_entropy)
    
    return np.clip(nmi, 0, 1)

### Function to get the density

In [272]:
'''
x - density attractor
D - dataset
h - user-defined width param
'''
def GetDensity(x, D, h):
    n = len(D)
    d = len(D[0])
    
    coeff = 1 / (n * np.power(h, d))
    
    summation = 0
    for i in range(n):
        z = x - D[i]
        z = z / h
        res = GaussianK(z, d)
        summation += res
    
    
    r = coeff * summation
    return r

### Function to calculate a density attractor

In [273]:
'''
Get density attractor for a point
x - point
D - dataset
h - user-defined width param
epsilon - break condition
'''
def FindAttractor(point, D, y, h, epsilon):
    t = 0
    x = copy.deepcopy(point)
    x_old = copy.deepcopy(point)
    
    # sample 20% of the data
    sss = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
    indices = None
    for train_index, test_index in sss.split(D, y):
        indices = test_index
    # now indices will be an array of shuffles indices 20% of the size of D
    
    while(True):
        # calculate the numerator of x_t+1
        num = np.zeros(len(point))
        for i in range(len(indices)):
            z = x - D[indices[i]]
            z = z / h
            res = GaussianK(z, len(point))
            prod = res * x
            num += prod
        # calculate the denominator of x_t+1
        denom = 0 
        for i in range(len(indices)):
            z = x - D[indices[i]]
            z = z / h
            res = GaussianK(z, len(point))
            denom += res
        
        # calculate x_t+1
        x = num / denom
        
        t += 1
        
        # check break condition
        if np.linalg.norm(x - x_old) <= epsilon:
            break
        else:
            # save x into old x before the next iteration
            x_old = copy.deepcopy(x)
            
        
    return x

### Function to calculate the Gaussian Kernel

In [274]:
'''
Compute the gaussian kernel under the assumption that the cov matrix 
is the identity matrix
d - num of dimensions
z - d dim vector
'''
def GaussianK(z, d):
    coeff = 1 / np.power(2 * np.pi, d / 2)
    expo = np.exp(-1 * np.dot(z.T, z) / 2)
    
    return coeff * expo

### Algorithm to cluster attractors

In [275]:
'''
Function to add an attractor to te biggest clustering of attractors
attr - attractor point
clusters - array of arrays of attractors
'''
def ClusterAttractor(attr, clusters, theta):
    biggest_cluster = 0
    biggest_cluster_index = 0
    # pass thru all the clusters
    for i in range(len(clusters)):
        # pass thru each point in the cluster
        for j in range(len(clusters[i])):
            # if the attractor is density reachable 
            # we might want to add it to the cluster
            if np.linalg.norm(attr - clusters[i][j]) <= theta:
                # we only want to note the cluster with the biggest size
                if len(clusters[i]) > biggest_cluster:
                    biggest_cluster = len(clusters[i])
                    biggest_cluster_index = i
    
    
    # if the biggest_cluster is 0, we have not found a cluster, so we should add a new one
    if biggest_cluster == 0:
        clusters.append([attr])
    # if it is non-zero , we us the index to add the attractor
    else:
        clusters[biggest_cluster_index].append(attr)
    
    
    return clusters

### DENCLUE Algorithm implementation

In [276]:
'''
D - Dataset
h - user-defined width param
xi - minimum density threshold for a ensity attractor
epsilon - break condition
theta - distance threthold for density reachable attractors
'''
def DENCLUE(D, y, true_clusters, h, xi, epsilon, theta):
    attractors = []
    
    for i in range(len(D)//20):
        attr = FindAttractor(D[i], D, y, h, epsilon)
        
        # check if the attractor is al least the minimum density
        density = GetDensity(attr, D, h)
        # print(density)
        if density < xi:
            continue
        else:
            # only add non-duplicate attractor points
            if len(attractors) == 0:
                attractors.append(attr)
            elif any(np.equal(np.array(attractors),attr).all(1)) == False:
                attractors.append(attr)
        
        
    
    print("Num of Attractors:", len(attractors))
    # now get the maximal clustering
    clusters = []
    for i in range(len(attractors)):
        clusters = ClusterAttractor(attractors[i], clusters, theta)
    
    print("Num of Clusters:", len(clusters))
    for i in range(len(clusters)):
        print("Cluster", i, ":", len(clusters[i]))
    
    # get the final clustering
    final_clustering = []
    for i in range(len(clusters)):
        final_clustering.append([])
        
    # for each point find the closest attractor and its cluster, and put the point in the cluster
    for i in range(len(D)):
        min_dist = 1e6
        cluster = -1
        # pass thru all attractors and get the closest one, and its cluster
        for j in range(len(clusters)):
            for k in range(len(clusters[j])):
                dist = np.linalg.norm(clusters[j][k] - D[i])
                # if the attractor is closest, note the new threshold and cluster
                if dist < min_dist:
                    min_dist = dist
                    cluster = j
        
        # put the point in a cluster
        final_clustering[cluster].append(D[i])
        
    print("Num of final clusters:", len(final_clustering))
    for i in range(len(final_clustering)):
        print("Cluster:", i, ":", len(final_clustering[i]))
    
    
    nmi_score = NMI(D, final_clustering, true_clusters)
    print("NMI:", nmi_score)
    
    return

# Running DENCLUE

### Running algorithm on a set of ideal parameters 

These parameters are based on testing I did over the course of working on the assignment.

In [277]:
start = time.time()

DENCLUE(x, y, true_clusters, 0.25, 4.5e11, 1e-2, 0.3)

print("Execution Time:", time.time() - start, "seconds.")

Num of Attractors: 6
Num of Clusters: 3
Cluster 0 : 1
Cluster 1 : 2
Cluster 2 : 3
Num of final clusters: 3
Cluster: 0 : 3081
Cluster: 1 : 5505
Cluster: 2 : 4440
NMI: 1.0
Execution Time: 66.70079708099365 seconds.

### Running DENCLUE on a few other parameters