In [1]:
import numpy as np
import pandas as pd
import warnings
import copy
import random
from scipy.special import softmax
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
warnings.filterwarnings("ignore")

### Read In Data

In [2]:
training_set = pd.read_csv("./fashion-mnist_train.csv")
training_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 785 entries, label to pixel784
dtypes: int64(785)
memory usage: 359.3 MB

In [3]:
testing_set = pd.read_csv("./fashion-mnist_test.csv")
testing_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 785 entries, label to pixel784
dtypes: int64(785)
memory usage: 59.9 MB

In [4]:
training_set.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
testing_set.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Split into class labels and data points

In [6]:
x_train = training_set.iloc[:, 1:]
y_train = training_set.iloc[:, 0]

In [7]:
x_test = testing_set.iloc[:, 1:]
y_test = testing_set.iloc[:, 0]

In [8]:
y_test[0]

0

### Shuffle Data

In [9]:
np.random.seed(42)

In [10]:
# convert to numpy objects
x_train = x_train.to_numpy()
y_train = y_train.to_numpy()
x_test = x_test.to_numpy()
y_test = y_test.to_numpy()

In [11]:
# shuffle training data
arr = np.arange(len(x_train))
np.random.shuffle(arr)
x_train = x_train[arr]
y_train = y_train[arr]

In [12]:
# shuffle testing data
arr = np.arange(len(x_test))
np.random.shuffle(arr)
x_test = x_test[arr]
y_test = y_test[arr]

### Sample Data

In [13]:
# take the first 10K points as the training data
x_train = x_train[:10000].copy()
y_train = y_train[:10000].copy()

In [14]:
# take the first 5K points as the test data
x_test = x_test[:5000].copy()
x_test = x_test[:5000].copy()

# Multiclass Logistic Regression

In [63]:
def LogReg(x_train, y_train, eta, epsilon):
    # map x data to d+1 dimensions
    x = []
    for i in range(len(x_train)):
        x.append(np.insert(x_train[i], 0, 1))
    x = np.array(x)
    
    # create a one hot encoding of the target labels
    y = np.zeros( (y_train.size, y_train.max() + 1) )
    y[np.arange(y_train.size), y_train] = 1
    
    t = 0
    
    # create initial weights matrix
    # K rows and d+1 cols
    w = np.random.rand(10, 785)
    
    
    
    while(t <= 50):
        # make a copy of w
        w_old = w.copy()
        
    
        # iterate through dataset in random order
        r = list(range(len(x)))
        random.shuffle(r)
        for i in r:
            
            # get vector of dot products
            prods = np.dot(w, x[i])
            
            # get the softmax for the K dot products
            sm = softmax(prods)
            
            # claculate gradient and update wieghts
            for j in range(len(w)-1):
                pi = sm[j]
                grad = (y[i][j] - pi) * x[i]
                new_w = w[j] + eta * grad
                w[j] = new_w
        
        
        # check the break condition
        acc = 0
        for i in range(len(w)-1):
            n = np.linalg.norm(w[j] - w_old[j])
            acc += n
        
        
        if acc <= epsilon:
            break
        else: 
            t += 1
    
    return w

In [64]:
weights = LogReg(x_train, y_train, 1e-6, 1e-1)

NameError: name 'w_t' is not defined

In [ ]:
for w in weights:
    print(w)

In [56]:
def predict(w, x_test):
    # augment test data
    x = []
    for i in range(len(x_test)):
        x.append(np.insert(x_test[i], 0, 1))
    x = np.array(x)
    
    predictions = []
    
    # for all test points
    # compute dot products between weights and data points
    # then compute the softmax and take the argmax
    for i in range(len(x)):
        prods = np.dot(w, x[0])
        sm = softmax(prods)
        index = np.argmax(sm)
        predictions.append(index)
    
    predictions = np.array(predictions)
    return predictions

In [57]:
y_pred = predict(weights, x_test)

In [58]:
# calculate accuracy
correct = 0
for i in range(len(y_pred)):
    if y_pred[i] == y_test[i]:
        correct += 1

acc_score = correct / len(y_pred)

In [59]:
acc_score

0.0988

In [60]:
# computing f1 score
prec=[]
rec=[]

# first compute the class specific accuracies
for i in range(10):
    correct = 0
    total = 0
    for j in range(len(y_pred)):
        if y_pred[j] == i:
            total += 1
            if y_test[j] == i:
                correct += 1
    
    if total == 0:
        prec.append(0)
    else:
        prec.append(correct / total)

    
# next compute the class specific recall
for i in range(10):
    correct = 0
    total = 0
    for j in range(len(y_pred)):
        if y_test[j] == i:
            total += 1
            if y_pred[j] == i:
                correct += 1
    
    rec.append(correct / total)

In [61]:
# next compute the overall precision and recall
overall_prec = np.mean(prec)
overall_recall = np.mean(rec)

# finally compute the f1 score
f1 = (2 * overall_prec * overall_recall) / (overall_prec + overall_recall)

In [62]:
print(f1)

0.017983254459410264